.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-header img{
    width: 100px;
    height: 100px;
}
.container-header h1{
    border-left: 4px solid blue;
    padding-left: 10px;
}

