*,::before,::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #f8f6f6;
    margin: 0 auto;
}
